  .price-includes ul {
      list-style-type: none;
      line-height: 1.6;
      padding-left: 0px;
      margin: 2px;
      color: black;
  }
  
  .price-includes i {
      color: green;
  }
  
  .x .price-includes i {
      line-height: 1.6;
      color: green;
  }
  /* Box styles */
  
  .hidden {
      display: none;
  }
  
  .add {
      color: green;
  }
  
  .myBox {
      border: 1px solid;
      padding: 5px;
      font-size: 20px;
      margin: 2% 0;
      height: 450px;
      overflow-y: scroll;
  }
  
  .submit-button {
      margin-top: 10px;
  }
  
  .expandedImg {
      margin: auto;
      display: block;
  }
  
  .photos {
      padding: 30px;
  }
  
  .extrases-b {
      padding-top: 20px;
  }
  
  .info {
      padding: 20px;
  }
  
  .extrases {
      background-color: rgba(179, 181, 184, 0.2);
      text-align: center;
      padding: 2% 0 0 2%;
  }
  
  .confirm {
      display: inline-block;
      margin: 0px;
  }
  
   ::-webkit-input-placeholder {
      text-align: left;
      line-height: normal;
  }
  
   :-moz-placeholder {
      text-align: left;
      line-height: normal;
  }
  
   ::-moz-placeholder {
      text-align: left;
      line-height: normal;
  }
  
   :-ms-input-placeholder {
      text-align: left;
      line-height: normal;
  }
  
  .box {
      padding: 5px;
  }
  
  .sw-theme-default>ul.step-anchor>li {
      position: relative;
      margin-right: 2px;
      flex-grow: 1;
      flex-basis: 0;
  }
  
  @media(max-width:1000px) {
      .sw-theme-default>ul.step-anchor {
          flex-wrap: wrap;
      }
      .sw-theme-default>ul.step-anchor>li {
          flex: 0 0 49%;
      }
      .sw-theme-default>ul.step-anchor small {
          display: none
      }
  }
  
  .extrases-box {
      text-align: center;
      color: black;
  }
  
  .extrases-box .ex-price {
      text-align: center;
      color: black;
      font-size: 45px;
      margin: 10px;
  }
  
  .extrases-box .add {
      position: absolute;
      display: block;
      bottom: 0;
      left: 30%;
  }
  
  .sw-main {
      min-height: 620px;
  }
  
  .sw-main .sw-toolbar {
      position: absolute;
      bottom: 0;
      right: 0;
  }
  
  .payment {
      border: 1px solid black;
      border-radius: 10%;
      padding: 10%;
  }
  
  .finish {
      text-align: center;
      padding: 10%;
  }
  
  .card-header {
      padding: 5px !important;
  }
  
  .required label {
      font-weight: bold;
  }
  
  .required label:after {
      color: #e32;
      content: ' *';
      display: inline;
      font-weight: normal;
  }