  .price-includes ul {
      list-style-type: none;
  }
  /* Box styles */
  
  .myBox {
      border: 1px solid;
      padding: 5px;
      font-size: 20px;
      margin: 2% 0;
      height: 300px;
      overflow-y: scroll;
  }
  /* Scrollbar styles */
  
   ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
  }
  
   ::-webkit-scrollbar-track {
      border: 1px solid yellowgreen;
      border-radius: 10px;
  }
  
   ::-webkit-scrollbar-thumb {
      background: yellowgreen;
      border-radius: 10px;
  }
  
   ::-webkit-scrollbar-thumb:hover {
      background: #88ba1c;
  }
  
  .submit-button {
      margin-top: 10px;
  }